Result Skip Results Iframe
EDIT ON
.container
      .row.justify-content-center
         .col.sm-12.col-md-8.col-lg-5
            .rotate-container
               .card.card-front.text-center
                  .card-header
                     p About You
                  .card-background
                  .card-block
                     img(src="https://userstock.io/data/wp-content/uploads/2017/09/bewakoof-com-official-245573-939x1024.jpg" alt="Avatar").avatar 
                     h3.card-title Your Name
                     p Your Profession
                     button.btn.btn-primary.btn-rotate Read more &nbsp;       

                        i.fa.fa-long-arrow-right

               .card.card-back.text-center
                  .card-header
                     p More About You
                  .card-block
                     h4 Interests
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a faucibus diam. Praesent consectetur, nisl ut semper imperdiet, tortor metus ultrices lorem, non luctus massa risus at urna.
                     h4 Connect:
                     ul.social-links.list-unstyled.d-flex.justify-content-center
                        li
                           a(href="#" target="_blank")
                              i.fa.fa-facebook
                        li
                           a(href="#" target="_blank")
                                 i.fa.fa-twitter
                        li
                           a(href="#" target="_blank")
                              i.fa.fa-snapchat
                        li
                           a(href="#" target="_blank")
                              i.fa.fa-instagram

                     button.btn.btn-primary.btn-rotate    
                        i.fa.fa-long-arrow-left 
                        | &nbsp; Back 
